<h2>
  Resend unlock instructions
</h2>
<p>
  Didn't get an email to unlock your account? Enter it below and we'll send you another
  one.
</p>


<div fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex>
    <mat-form-field class="form-field">
      <input matInput placeholder="Email" [(ngModel)]="userEmail">
    </mat-form-field>
  </div>
  <div fxFlex>
    <button mat-raised-button color="primary" (click)="onUnlock()"> RESET UNLOCK INSTRUCTIONS </button>
  </div>
</div>

<app-account-links [showUnlock]="false"></app-account-links>
