:host {
  input {
    background: url(/assets/icons/questions-magnifying-glass.svg) no-repeat 2px center;
    border: 1px solid #c7d1d9;
    border-radius: 4px;
    height: 30px;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.3rem;
    outline: none;
    padding-left: 30px;
    padding-right: 5px;
  }
}
