.plan-item {
  height: 480px;
  width: 230px;
  color: #4b555e;
  h4 {
    color: #4b555e;
    font-size: 2rem;
  }
  h3 {
    color: #2d353c;
    font-size: 4rem;
    span {
      font-size: 1.8rem;
    }
  }
  p {
    min-height: 55px;
    font-size: 1.6rem;
  }
  ul {
    min-height: 190px;
    list-style: none;
    padding: 0;
    li {
      border-bottom: 1px solid #dddddd;
      padding: 7px 0;
      font-size: 1.6rem;
    }
  }
  mat-card-footer {
    .mat-button {
      margin-left: 25px;
      border: 2px solid #cccccc;
      border-radius: 4px;
      width: 132px;
    }
  }
}
