:host {
  label {
    margin-top: 15px;
    font-size: 1.7rem;
    line-height: 2em;
    color: rgb(80, 80, 80);
  }
  mat-form-field {
    textarea {
      min-height: 90px;
    }
  }
  .editor {
    border: 2px solid rgb(189, 195, 199);
    border-radius: 4px;
    padding: 4px 2px 2px 2px;
  }
  .question-actions {
    margin-top: 15px;
  }
}
