:host {
  .table-container {
    padding: 1px;
    border: 1px solid #c7d1d9;
    border-radius: 4px;
  }

  p {
    line-height: 1.6;
  }
  mat-card {
    padding: 1px;
    border-radius: 4px;
  }
}
