
.cursor-0 {
  background: orange;
  width: 2px !important;
}
.cursor-1 {
  background: orangered;
  width: 2px !important;
}
.cursor-2 {
  background: orchid;
  width: 2px !important;
}
.cursor-3 {
  background: burlywood;
  width: 2px !important;
}
.cursor-4 {
  background: green;
  width: 2px !important;
}
