<div>
  <section>
    <div fxLayout="column" fxLayoutAlign="space-between center">
      <div fxFlex>
        <h1>
          Everything you for live programming
        </h1>
      </div>
      <div fxFlex>
        <p>
        </p>
      </div>
      <div fxFlex style="padding-top: 30px;"></div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <!-- <a routerLink="/pricing" mat-raised-button color="primary">See pricing</a> -->
        <!-- <span style="width: 30px;"></span> -->
        <a routerLink="/dashboard" mat-raised-button>Get Started</a>
      </div>
    </div>
  </section>
</div>
