<div class="footer">
  <!--
  <div id="invite">
    <button class="outline-button" (click)="showInviteDialog()">Invite</button>
  </div>
  <div id="call-button">
    <button class="outline-button">Start Call</button>
  </div>
  -->
  <div id="user-list">
    <!--
    <div class="user">
      <span class="color-indicator" style="background-color: rgb(220, 50, 47);"></span>
      <input class="name" value="" style="width: 62px;">
    </div>
    -->
  </div>
  <div id="toolbar">
    <!-- <input id="title-prompt" class="tooltip-target" style="width: 167px" value="hello"> -->
    <!-- <button class="outline-button">Settings</button> -->
  </div>
</div>
