mat-grid-tile {
  div:first-child {
    padding: 10px;
  }
  h2 {
    line-height: 1.5;
    color: #2d353c;
    text-align: center;
    padding: 30px;
    font-size: 2.8rem;
  }
}

div.pricing-divider {
  padding: 50px 0 20px 0;
  margin-left: -20px;
  margin-right: -20px;
}
