:host {
  mat-table {
    overflow: auto;
    height: 300px;
  }
  mat-header-cell {
    font-size: 1.4rem;
    font-weight: 700;
    color: #505050;
  }
  mat-header-row {
    min-height: 40px;
  }
  .mat-raised-button {
    font-size: 1.4rem;
  }
}
